<div class="mat-typography">
  <h1 class="mat-h1">Upcoming birthday</h1>
</div>
<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Add new Person</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="First name" [(ngModel)]="firstName">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="Last name" [(ngModel)]="lastName">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="addUser()">Submit</button>
  </mat-card-actions>
</mat-card>
<mat-list-item *ngFor="let user of users">
  <mat-icon mat-list-icon>face</mat-icon>
  <div mat-line>{{user.firstName}} {{user.lastName}}</div>
  <div mat-line> {{user.dateOfBirth | date:'longDate'}} </div>
  <mat-card-header>
    <mat-card-title>{{user.firstName}}, {{user.lastName}}, {{user.dateOfBirth | date: 'd' }} day remaining, becomes {{ willBecome }} years
      old
    </mat-card-title>
  </mat-card-header>
</mat-list-item>
